@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

body {
    margin: 0;
    background: rgb(241,230,255);
    background: linear-gradient(90deg, rgba(241,230,255,1) 0%, rgba(184,140,255,1) 100%, rgba(0,212,255,1) 100%);
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background: rgb(241,230,255);
    background: linear-gradient(90deg, rgba(241,230,255,1) 0%, rgba(184,140,255,1) 100%, rgba(0,212,255,1) 100%);
    padding-top: 370px;
    padding-bottom: 30px;
}

h1 {
    padding: 0;
    margin-left: 50px; 
    letter-spacing: 3px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    width: 75%;
    text-align: center;
}

header h2 {
    width: 25%;
    padding: 0;
    letter-spacing: 8px;
    margin-left: 50px; 
    margin-bottom: 0px;
    margin-top: 0;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: inherit;
}

p {
    font-family: 'montserrat';
}

main {
    text-align: center;
    margin-top: 50px;
}

form {
    background-color: #EBEBEB;
    width: fit-content;
    margin: 100px;
    margin-bottom: 20px;
    outline-width: 2px;
    outline-style: solid;
    outline-color: rgb(115, 115, 115);
    border-radius: 0px;
    padding: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
    box-sizing: border-box;
    box-shadow: 13px 10px 10px gray;
}

input, textarea {
    margin-left: 20px;
    border-style: none;
    outline-style: solid;
    outline-color: #bababa;
    border-radius: 5px;
}

input:focus, textarea:focus {
    background-color: #f4e1ff;
    margin-left: 20px;
    border-style: none;
    outline-style: solid;
    outline-color: #bababa;
    outline-width: 3px;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}

#message {
    font-size: 1.2em;
    color: #333;
}

.contenedor-juego {
    background-color: rgb(240, 240, 240);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #8b8b8b;
    box-shadow: 0 0 10px rgba(94, 94, 94, 0.664);
    text-align: center;
}

.contenedor-juego input, .contenedor-juego button {
    margin-top: 10px;
}
